%p.lead
  In keeping with the OGP’s spirit of cooperation and co-creation, the agenda for the Global Summit will
  be
  %strong
    co-created between governments and civil society.
  Here, you will be able to submit event proposals and exchange with other applicants around session projects.
