.container
  .row
    .col-md-12
      .page-header
        %h1 New Proposal
  .row
    .col-md-12
      = render partial: 'encouragement_text'
  .row
    .col-md-8
      - if !current_user
        %legend
          %span
            =link_to('#signup', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              = CONFIG['name']
              Account
          %span.pull-right#account-already
            =link_to('#signin', role: 'tab', 'aria-controls' => 'home', 'data-toggle' => 'tab') do
              Already have an account?
      .tab-content
        .tab-pane.active{role: 'tabpanel', id: 'signup'}

          = semantic_form_for(@event, url: @url) do |f|

            = render partial: 'devise/shared/sign_up_form_embedded'

            = f.inputs name: 'Proposal Information' do
              = f.input :title, as: :string, required: true, input_html: { required: true }
              - if @program.tracks.any?
                = f.input :track_id, as: :select,
                          collection: @program.tracks.map {|track| ["#{track.name}", track.id] },
                          include_blank: true
              = f.input :event_type_id, as: :select,
                collection: @program.event_types.map {|type| ["#{type.title} - #{show_time(type.length)}", type.id,
                data: { abstract_min_words: type.minimum_abstract_length, abstract_max_words: type.maximum_abstract_length,
                  objective_min_words: type.minimum_objective_length, objective_max_words: type.maximum_objective_length }]},
                include_blank: false, label: 'Type', input_html: { class: 'select-help-toggle' }

              - @program.event_types.each do |event_type|
                %span{ class: 'help-block event_event_type_id collapse', id: "#{event_type.id}-help" }
                  = event_type.description

              :javascript
                $("##{@program.event_types.first.id}-help").collapse('show');

              = f.input :objective, hint: markdown_hint(), input_html: { rows: 5 , required: true , data: { provide: 'markdown-editable' }, class: 'notranslate'},
                required: true,
                placeholder: 'Short description...'


              %p
                You have used
                %span.notranslate#objective-count #{@event.objective_word_count}
                words. Objective of the presentation must be between
                %span.notranslate#objective-minimum-word-count
                  0
                and
                %span.notranslate#objective-maximum-word-count
                  200
                words.


              = f.input :abstract, input_html: { class: 'notranslate', rows: 5, required: true, data: { provide: 'markdown-editable' }},
                required: true, hint: link_to('Tips to improve your presentations', 'http://blog.hubspot.com/blog/tabid/6307/bid/5975/10-Rules-to-Instantly-Improve-Your-Presentations.aspx'),
                placeholder: 'Complete outline, speakers, moderation strategy...'

              %p
                You have used
                %span.notranslate#abstract-count #{@event.abstract_word_count}
                words.  Abstracts must be between
                %span.notranslate#abstract-minimum-word-count
                  0
                and
                %span.notranslate#abstract-maximum-word-count
                  500
                words.

              = f.input :proposal_additional_speakers, label: 'Speakers', input_html: {rows: 5, class: 'notranslate'}
                
              = f.input :language, as: :select, collection: [['Chose a language', ''], ['French', 'fr'], ['English', 'en']]

              = f.input :expected_audience, as: :number

              = f.input :contact_phone_number, as: :string, required: true, input_html: { required: true }
              %span{ class: 'help-block' }
                In international format, with the country code, for example "+14155552671".

              = f.input :require_registration, label: 'Require participants to register to your event'

              = f.input :description, input_html: { rows: 5 }, label: 'Requirements', placeholder: 'Eg. Whiteboard, printer, or something like that.'

            %p.text-right
              = f.submit 'Create Proposal', class: 'btn btn-success'

        .tab-pane{role: 'tabpanel', id: 'signin'}
          = render partial: 'devise/shared/sign_in_form_embedded'
