.row
  .col-md-12
    .page-header
      %h1
        Events
        - if @events.any?
          = "(#{@events.length})"
      %p
        = link_to "New event", new_admin_conference_program_event_path(@conference.short_title), target: '_blank'
.row
  .col-md-12
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %th
          %b ID
        %th
          %b State
        %th
          %b Title
        %th
          %b Submitter
        %th
          %b Speaker
        %th
          %b Pre-registration
        %th
          %b Type
        %th
          %b Track
        %th
          %b Language
      %tbody.notranslate
      - @events.each do |event|
        %tr
          %td
            = event.id
          - if event.state == "confirmed"
            - color="#00ff00"
          - elsif event.state === "new"
            - color="#ff9900"
          %td{:style=>"color: #{color}"}
            = event.state
          %td
            = link_to event.title, edit_admin_conference_program_event_path(@conference.short_title, event), target: '_blank'
          %td
            - event.submitters.each do |submitter|
              - submitter_user = submitter.user
              = link_to submitter_user.name, edit_admin_user_path(submitter_user), target: '_blank'
              - if submitter_user.registrations.count < 1
                %span{:style=>"color: #F7819F"}
                  (Unregistered!)
              %br
          %td
            = event.speaker_names
          %td
            = event.require_registration
          %td
            - if event.event_type_id.nil?
              Event Type
            - else
              = @event_type_titles[event.event_type_id]
          %td
            - if event.track_id.nil?
              Track
            - else
              = @track_titles[event.track_id]
          %td
            - if event.language.nil?
              Language
            - else
              = event.language
