.row
  .col-md-12
    .page-header
      %h1 Images
      %p.text-muted
        Conference images will be displayed on the events in the
        = link_to "schedule,", schedule_conference_path(@conference.short_title)
        if the event speaker didn't add an event image.
- if can? :create, @conference.commercials.new
  .row
    .col-md-6
      #resource-content
      #resource-placeholder{ style: 'background-color:#d3d3d3; float: left; width: 400px; height: 250px; margin: 5px; border-width: 1px; border-style: solid; border-color: rgba(0,0,0,.2);' }
  .row
    .col-md-6
      = semantic_form_for(@commercial, url: admin_conference_commercials_path(conference_id: @conference.short_title)) do |f|
        = f.input :url, label: 'URL', as: :string, input_html: { required: 'required' },
        hint: 'Just paste the url of your video/photo provider. YouTube, Vimeo, SpeakerDeck, SlideShare, Instagram, Flickr.'
        = f.action :submit, as: :button, button_html: { class: 'btn btn-primary pull-right', disabled: true }
  %hr

- @commercials.each_slice(3) do |slice|
  .row
    - slice.each do |commercial|
      - if commercial.persisted?
        .col-md-4
          .thumbnail
            .flexvideo{ id: "resource-content-#{commercial.id}"}
              = render partial: 'shared/media_item', locals: { commercial: commercial }
            .caption
              - if can? :update, commercial
                = semantic_form_for commercial, url: admin_conference_commercial_path(conference_id: @conference.short_title, id: commercial) do |f|
                  = f.input :url, label: 'URL', as: :string, input_html: { id: "commercial_url_#{commercial.id}", required: 'required' }, hint: 'Just paste the url of your video/photo provider'
                  = f.action :submit, as: :button, button_html: { class: 'btn btn-success' }, label: 'Update'
                  - if can? :destroy, commercial
                    = link_to 'Delete', admin_conference_commercial_path(@conference.short_title, commercial.id),
                      method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
