.container
  .row
    .col-md-12
      .page-header
        %h1
          = image_tag(@user.avatar(:square), height: 48, width: 48, title: "Yo #{@user.name}!", :alt => '')
          = @user.name
          %small
            = @user.nickname
      %p
        = @user.biography
  .row
    .col-md-12
      - if @user.events.confirmed.any?
        %h3
          = "#{@user.name} presents #{pluralize(@user.events.confirmed.count, 'Event')}:"
        %ul.list-unstyled
          - @user.events.confirmed.each do |event|
            %li
              %h4
                = link_to event.title, conference_program_proposal_path(event.program.conference.short_title, event.id)
                %strong
                  at
                = event.program.conference.title
