
<div class="row">
  <h1 class="text-center"> Schedule for <%= @conference.title %></h1>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <p class="text-center">Click on the items of the agenda below to discover the program!</p>
  </div>
</div>
<div class="row">
  <% if @hostname.start_with?('fr.') %>
<!-- fr -->
<object type="image/svg+xml" data="../../img/overview_11-08_fr.svg" 
    width="100%" height="100%" border="none"></object>
<% else %>
<!-- en -->
<object type="image/svg+xml" data="../../img/overview_11-08_en.svg" 
    width="100%" height="100%" border="none"></object>            
<% end %>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
<p class="text-justify"><br/>
  Starting April 2016, proponents from all over the world contributed to the elaboration of the program for the OGP summit, by participating to the open call for proposals. 700 proposals were analyzed by the
  <%= link_to 'program committee', '/2016/07/04/learn-about-the-composition-of-the-programming-committe/' %>,
  composed of government and subnational authorities’ representatives, French and international civil society representatives and members from the OGP support unit.
</p>
  </div>
</div>

