<div class="container conference-new-proposals">
  <h1 class="text-center">Proposals for <%= @conference.title %></h1>
  <form name="form" action="#" class="form-horizontal">
    <div class="form-group">
      <div class="col-md-6">
        <label for="trackFilter">Filter by tracks</label>
        <select name="track-filter" id="trackFilter" placeholder="Select tracks...">
          <option value="all">
            All tracks
          </option>
          <% @conference.program.tracks.each do |track| %>
            <option value="track-<%= track.name.parameterize %>">
              <%= track.name %>
            </option>
          <% end %>
          <option value="track-none">
            No track
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="typeFilter">Filter by event types</label>
        <select name="type-filter" id="typeFilter" placeholder="Select event types...">
          <option value="all">
            All types
          </option>
          <% @conference.program.event_types.each do |event_type| %>
            <option value="type-<%= event_type.title.parameterize %>">
              <%= event_type.title %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
  </form>
  <% @conference.program.events.new_proposals.reverse_each do |event| %>
      <div class="conference track-<%= (event.track.nil? ? 'none' : event.track.name).parameterize %> type-<%= event.event_type.title.parameterize %>">
          <h3>
            <%= link_to event.title, conference_program_proposal_path(@conference.short_title, event.id) %>
            <small>(<%= event.event_type.title %>)</small>
          </h3>
          <h5>
            <% if !event.subtitle.blank? %>
              <em>
                <%= event.subtitle %>
              </em>
            <% end %>
            <span class="label label-default" style="background-color: <%= event.track.nil? ? '#444444' : event.track.color %>;">
              <%= event.track.name if !event.track.nil? %>
            </span>
          </h5>
          <h4>
            presented by <span class="notranslate"><%= event.speaker_names %></span>
          </h4>
          <p>
            <span class="nostranslate"><%= truncate(event.abstract, :length => 400) -%></span>
            <span><%= link_to 'more', conference_program_proposal_path(@conference.short_title, event.id) if event.abstract.length > 400 %></span>
          </p>
      </div>
  <% end %>
</div>
