= f.input :last_name, label: 'Last Name', input_html: { required: 'required'}
= f.input :first_name, label: 'First Name', input_html: { required: 'required'}
= f.input :title, label: 'Title'

- q_gender = @conference.questions.find_by_id(6)
= f.input :qanswers, :collection => q_gender.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required' }, label: q_gender.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title}

- q_organization = @conference.questions.find_by_id(7)
= f.input :qanswers, :collection => q_organization.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required' }, label: q_organization.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title}


= f.input :organization_name, label: 'Name of Organization or Government Ministry/ Department', input_html: { required: 'required'}
= f.input :telephone, label: 'Telephone'
= f.input :twitter, label: 'Twitter Handle'
= f.input :country_code, :as => :select, :collection => Country.order('label_' + @hostnamelang).map { |c| [c.get_label(@hostnamelang), c.code] }, label: 'Country of residence', input_html: { required: 'required'}, :include_blank => "Please make your choice"
= f.input :nationality_code, :as => :select, :collection => Country.order('label_' + @hostnamelang).map { |c| [c.get_label(@hostnamelang), c.code] }, label: 'Nationality', input_html: { required: 'required'}, :include_blank => "Please make your choice"
= f.input :birth_date, label: 'Date of birth', input_html: { required: 'required'}, as: :date, order: [:year, :month, :day], include_blank: true, start_year: 1900
= f.input :birthcountry_code, :as => :select, :collection => Country.order('label_' + @hostnamelang).map { |c| [c.get_label(@hostnamelang), c.code] }, label: 'Country of birth', input_html: { required: 'required'}, :include_blank => "Please make your choice"
= f.input :birth_place, label: 'Place of birth', input_html: { required: 'required'}
- if @registration.photo? and @registration.user_id?
  = f.input :photo, label: 'ID photo', hint: 'A recognizable ID picture is needed for accreditation meeting on-site security requirements (JPEG format max 2Mb).'
  = image_tag(@registration.photo(:square), height: 100, width: 100, title: "", :alt => '')
  %span Remove photo
  = f.check_box :remove_photo
-else
  = f.input :photo, label: 'ID photo', hint: 'A recognizable ID picture is needed for accreditation meeting on-site security requirements (JPEG format max 2Mb).', :required => true, input_html: { required: 'required'}
  = image_tag('person_large.png', height: 100, width: 100, title: "", :alt => '')
  %br
%br
= f.input :biography, label: 'Biography', hint: markdown_hint(), input_html: { rows: 5, 'onkeyup' => "word_count(this, 'biography-count', 150)", data: { provide: 'markdown-editable' } }

- q_participation = @conference.questions.find_by_id(15)
= f.input :qanswers, :collection => q_participation.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required' }, label: q_participation.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title}

- q_event = @conference.questions.find_by_id(8)
= f.input :qanswers, :collection => q_event.qanswers, :required => true, :as => :check_boxes, :input_html => {required: 'required', id: 'test' }, label: q_event.title, :member_label => Proc.new {|a| a.answer.title},
  hint: "We require this information to anticipate the attendance in the different venues, which will be accessible to participants within the limit of availability. Please note that the civil society morning is reserved to the members of civil society and seats are limited. The OGP will publish the selection criteria that will be applied if we reach the limit of available spaces."

- q_eat = @conference.questions.find_by_id(9)
= f.input :qanswers, :collection => q_eat.qanswers, :required => true, :as => :check_boxes, :input_html => {required: 'required' }, label: q_eat.title, :member_label => Proc.new {|a| a.answer.title},
  hint: "Please, make sure that you can assist at all the meals you chose.  The fight against food waste is everybody's responsibility." 

- q_support = @conference.questions.find_by_id(10)
= f.input :qanswers, :collection => q_support.qanswers, :as => :select, :input_html => {:multiple => false}, label: q_support.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title},
  hint: " If Yes, please explain your motivation to attend the OGP Global Summit"
  
%p
  The financial support applications closed on October 31st, thank you for your understanding. 

= f.input :support_motivation, label: false, input_html: { rows: 4}

- q_public = @conference.questions.find_by_id(11)
= f.input :qanswers, :collection => q_public.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required'}, label: q_public.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title},
  hint: "If you choose to share your profile, your Last Name, First Name, Type of organization, Name of Organization, Twitter Handle, Country of residence, Photo and Biography will be made public"

- q_ogpsummitml = @conference.questions.find_by_id(12)
= f.input :qanswers, :collection => q_ogpsummitml.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required' }, label: q_ogpsummitml.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title}

- q_ogpml = @conference.questions.find_by_id(13)
= f.input :qanswers, :collection => q_ogpml.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required' }, label: q_ogpml.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title}

- q_invitation = @conference.questions.find_by_id(14)
= f.input :qanswers, :collection => q_invitation.qanswers, :required => true, :as => :select, :input_html => {:multiple => false, required: 'required' }, label: q_invitation.title, :include_blank => "Please make your choice", :member_label => Proc.new {|a| a.answer.title}
