/* File with CSS addition sent by designers by mail */
body {
    font-size: 16px;
    line-height: 1.6em;
}
h2 {
    color: #444444;
    margin: 0px 0 40px;
}
.navbar-nav>li>a {
    font-size: 13px;
}
h3.text-center p {
    color: #444444;
}
address h1 {
    color: #444444;
    font-size: 24px;
}
#splash #venue {
    padding-top: 80px;
    padding-bottom: 80px;
}
#splash section {
    padding-top: 80px;
    padding-bottom: 80px;
}
