html {
  position: relative;
  min-height: 100%;
  /*width: 100%;
  overflow-x: hidden;*/
}

body {
  /* Margin bottom by 2 times the footer height */
  margin-bottom: 60px;
  /* Margin bottom by navbar height */
  padding-top: 60px;
}

#content {
  padding-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  .container {
    padding: 15px;
  }
}

.nav-tabs {
  margin-bottom: 15px;
}

.img-center {
  margin: 0 auto;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.col-top {
  vertical-align:top;
}

fieldset {
  margin: 20px 0 20px 0;
}

.bootstrap-switch {
  height: 1.7em
}

.comment-reply{
  padding-top: 40px;
}

p.comment-body {
  padding-top: 20px;
}

.well.comment-section {
  padding-bottom: 40px;
}

#account-already {
  font-size: 0.6em;
}

/* comments views pane: use padding-bottom before next comment box */
.panel.panel-default .panel-body .notifications {
  padding-bottom: 20px;
}

/* comments views pane: use padding-bottom after each comment */
.panel.panel-default .panel-body .notifications p {
  padding-bottom: 20px;
}

.logo-beta {
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 70px;
  right: -35px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 150px;
  background-color: #008cba;
  color: #fff;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  z-index: 10;
}
