h1 {
    margin-top: 30px;
    margin-bottom: 40px;
}

.tab-content>.active {
    display: block;
    /*overflow: auto; désactivé pour que l'ascenceur horizontal soit celui de la fenêtre */
}

#schedule th {
	font-size: 16px;
	padding: 8px;
	border: none;
	text-align: center;
}

#schedule td {
    padding-top: 8px;
	padding-bottom: 8px;
    font-size: 13px;
	vertical-align: top;
}

#schedule td.hour {
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

#schedule td div.event-wrapper {
	overflow: hidden;
	width: 300px;
}

div.event-content {
	padding-left: 8px;
	padding-right: 8px;
	position: relative;
}

#schedule td:hover {
background-color: #ddd;
}

#schedule td div.event-wrapper:hover {
	overflow: visible;
}

div.event-content:hover {
	z-index: 1000;
	background-color: #ddd;
	padding-bottom: 4px;
}

#schedule td div.event-wrapper_1 {
	/*height: 45px;*/
	height: 34px;
}
#schedule td div.event-wrapper_2 {
	/*height: 90px;*/
	height: 84px;
}
#schedule td div.event-wrapper_3 {
	/*height: 135px;*/
	height: 134px;
}
#schedule td div.event-wrapper_4 {
	/*height: 180px;*/
	height: 184px;
}
#schedule td div.event-wrapper_5 {
	/*height: 225px;*/
	height: 234px;
}

#schedule td.event {
    border-color: white;
}

#schedule td.event:hover {
    
}

.event a {
    text-decoration: none;
}

.event {
	background-color: #f0c993;
}

.event.track-3 {
    background-color: #c3f8b5;
}

.event.track-4 {
    background-color: #ffd3d3;
}
.event.track-5 {
    background-color: #d3dbf3;
}

.event.track-6 {
    background-color: #b5e7f2;
}

.event.track-7 {
    background-color: #f8d4db;
}

.event.track-10 {
    background-color: #fcf8cb;
}

.event.track-11 {
    background-color: #f0ddc3;
}

.event.track-12 {
    background-color: #cbdfdf;
}

.event.track-14 {
    background-color: #ebdad6;
}

.event.track-15 {
    background-color: #ecdbfc;
}

.event.track-8 {
    background-color: #ffdac7;
}

.event.track-9 {
    background-color: #eee;
}

.event.track-13 {
    background-color: #eee;
}

span.schedule-hours {
    color: rgba(0,0,0,0.6);
    margin: 0;
    display: block;
	font-size: 13px;
}

#schedule h5 {
    margin-top: 3px;
    color: rgba(0,0,0,0.7);
    margin-bottom: 9px;
	font-weight: bold;
}

span.schedule-speaker {
    color: rgba(0,0,0,0.65);
	font-size: 12px;
}

span.schedule-speaker img {
    width: 24px;
    height: 24px;
    margin-top: -2px;
    margin-left: -4px;
}

.schedule-subtitle {
    color: rgba(0,0,0,0.5);
}

span.schedule-track {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	max-width: 280px;
}


#schedule table {
    font-size: 12px;
    border: none;
}



/* CSS from Angelo */
.conference-new-proposals {
  .conference {
    margin: 55px 0;
  }
  
  .conference h4 {
    font-size: 14px;
    margin-top: 12px;
  }
  
  .conference h3 {
    margin-bottom: 0px;
  }
  
  .conference h3 a:hover {
    text-decoration: none;
  }
  
  .conference small {
    text-transform: uppercase;
    font-size: 12px;
  }
  
  .conference em {
    color: #1775ab;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
  }
  
  h1.text-center {
    margin: 60px 0;
    text-align: left;
    font-size: 300%;
  }
}
