= semantic_form_for [:admin, @user] do |f|
  = f.inputs 'Basic Information' do
    %p
      %strong
        Login:
      = @user.username
    = f.input :is_admin, hint: 'An admin can create a new conference, manage users and make other users admins.'
    = f.input :name, :as => :string
    = f.input :email
    = f.input :affiliation, :as => :string
    = f.input :biography, :input_html => {:rows => 10}
    %p
      Password change
      %input{type: "text", size: "20", name: "newpassword"}
    - if !@user.confirmed?
      Confirm user
      %input{type: "checkbox", name: "confirmuser", value: "yes"}
  = f.actions do
    = f.action :submit, :button_html => {:class => "btn btn-primary"}
