- unless CONFIG['authentication']['ichain']['enabled']
  %li
    = link_to(edit_user_registration_path) do
      %span.fa.fa-wrench
      Edit Account
%li
  = link_to(edit_user_path(current_user.id)) do
    %span.fa.fa-user
    Edit Profile
%li
  = link_to(conference_program_proposal_index_path("ogp-summit")) do
    %span.fa.fa-comment
    My Submissions
%li
  - if current_user.registered != 'None'
    = link_to(conference_conference_registrations_path("ogp-summit")) do
      %span.fa.fa-tag
      My registration
%li
  - if CONFIG['authentication']['ichain']['enabled']
    = link_to(destroy_user_ichain_session_path, :method=>'delete') do
      %span.fa.fa-minus
      Sign out
  - else
    = link_to(destroy_user_session_path, :method=>'delete') do
      %span.fa.fa-minus
      Sign out
- if can? :access, Admin
  %li.divider
    %li
      - if Conference.any?
        = link_to(admin_conference_index_path()) do
          %span.fa.fa-home
          Administration
      - if can? :create, Conference
        =link_to(new_admin_conference_path) do
          %span.fa.fa-plus
          Create Conference
    -if @conference and @conference.id and can? :show, @conference
      %li
        = link_to(admin_conference_path(@conference.short_title)) do
          %span.fa.fa-cog
          Manage
          %span.notranslate
            = @conference.short_title
- if can? :manage, User.new
  %li
    = link_to(admin_users_path) do
      %span.fa.fa-user
      Users

